.blankcard {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5px 5px;
    .upload-button {
        font-size: 12px;
        font-family: "Overpass", sans-serif;
        font-weight: 600;
        /* gt better blue */ 
        color: #32AAFF;
        border: 1.5px solid #32AAFF;
        background-color: white;
        box-sizing: border-box;
        border-radius: 6px;
        height: 25px;
        margin-right: 3px;
        &:hover {
            background: #32AAFF;
            color: white;
        }
        &:focus {
            outline: none;
        }
        &:active {
            outline: none;
        }
    }
    .text-edit {
        box-sizing: border-box;
        border-radius: 6px;
        width: 200px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        height: 30px;
        // &:hover {
        //     border: 2px solid grey;
        // }
        // &:focus, &:focus-within {
        //     border: 2px solid black;
        // }
    }
}
