.collapse-card{
    background: #ffffff;
    /* gt inactive grey */
    border: 1px solid #dedede;
    box-sizing: content-box;
    border-radius: 6px;
    overflow: visible;
    &:focus,
    &:focus-within {
        outline: none;
        border: 1px solid #32AAFF;
    }
    &.active-card {
        /* Background / backgroundPrimary */
        border: 1px solid #32AAFF;
    }

    &.searched-card {
        border: 1px solid green;
    }
}