.generic-card {
    background: white;
    box-sizing: border-box;
    border-radius: 6px;
    box-shadow: 0px 1px 2px 0px rgba(51,61,78,0.25);
    &.active-card {
        border: 2px solid black;
    }
}

.inline-input {
    background-color: transparent;
}
