.generic-card {
    background: white;
    box-sizing: border-box;
    border-radius: 6px;
    box-shadow: 0px 1px 2px 0px rgba(51,61,78,0.25);
    &:focus, &:focus-within {
        outline: none;
        border: 2px solid black;
    }
    &.active-card {
        border: 2px solid black;
    }
    &.searched-card{
        border: 2px solid green;   
    }
}

.inline-input {
    background-color: transparent;
}
.generic-card-text-profile-pic {
    height: 30px;
    width: 30px;
    border: 2px solid black;
    border-radius: 20px;
    margin-right: 10px;
}
