.image-card {
    width: 100%;
    height: 100%;
    .image-card-image {
        padding: 6px 6px 0px 6px;
        img {
            height: 100%;
            width: 100%;
            border-radius: 6px;
        }
    }
}