.image-card {
    width: 100%;
    height: 100%;
    .image-card-image {
        margin: 6px 6px 0px 6px;
        img {
            height: 100%;
            width: 100%;
            border-radius: 6px;
        }
    }
}
.barmenu {
    width: 20px;
  height: 2px;
  background-color: black;
  margin: 6px 0;
}