.link-card {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 6px 6px 6px 6px;
    .text {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        padding-left: 6px;
        padding-right: 6px;
        text-overflow: ellipsis;
        font-family: "Overpass";
        font-style: normal;
        max-width: 288px;
        .description {
            overflow: hidden;
            max-height: 64px;
            font-weight: normal;
            font-size: 10px;
            line-height: 16px;
            color: #000000;
        }
        .title {
            font-weight: bold;
            font-size: 13px;
            color: #1e7eef;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            display: block;
            max-width: 100%;
            cursor: pointer;
        }
        .domain {
            font-family: "Roboto";
            font-style: normal;
            font-weight: normal;
            font-size: 10px;
            color: #dedede;
        }
    }
    .preview-image {
        border-radius: 6px;
        object-fit: cover;
        min-width: 100px;
        font-size: 6px;
        overflow: hidden;
        font-family: "Overpass";
        cursor: pointer;
    }
}
