.text-card {
  max-height: 100%;
  min-height: 100%;
  overflow: hidden;
  padding: 6px;
  display: flex;
  .md-container-wrapper {
    height: inherit;
    max-height: 100%;
    min-height: 100%;
    width: 100%;
    display: flex;
  }
  textarea,
  .md-container {
    font-family: Overpass;
    font-size: 14px;
    height: auto;
    overflow: scroll;
    width: 100%;
    margin: 0;
    padding: 6px;
  }
  .resize {
    border: 1.5px solid black;
    overflow: auto;
  }
  .resize.horizontal {
    resize: horizontal;
  }
  .resize.vertical {
    resize: vertical;
  }
  .resize.both {
    resize: both;
  }
  .wrap {
    max-width: 80%;
  }
}
