.text-card {
  max-height: 100%;
  min-height: 100%;
  max-width: 100%;
  min-width: 100%;
  overflow: visible;
  padding: 6px;
  display: flex;
  .md-container-wrapper {
    height: inherit;
    max-height: 100%;
    min-height: 100%;
    max-width: 100%;
    min-width: 100%;
    // width: 100%;
    display: flex;
    margin: 0;
  }
  textarea,
  .md-container {
    font-family: Overpass;
    font-size: 14px;
    line-height: normal;
    height: auto;
    overflow: scroll;
    width: 100%;
    margin: 0;
    overflow-wrap: break-word;
  }
  .resize {
    overflow: auto;
  }
  .resize.horizontal {
    resize: horizontal;
  }
  .resize.vertical {
    resize: vertical;
  }
  .resize.both {
    resize: both;
    cursor: nesw-resize;
  }
  .wrap {
    max-width: 80%;
  }
}
