.generic-task {
    // position: static;
    width: 350px;
    height: 148px; //232px;

    /* Basics/Kite White */

    background: #FCFBF9;
    /* Basics/Gray */

    border: 1px solid #DFDCDC;
    box-sizing: border-box;
    border-radius: 6px;

    /* Inside Auto Layout */

    margin: 12px 0px;
    overflow: scroll;

    &:focus {
        &:focus-within {
            outline: none;
            border: 3px solid #48BB35;
        }
    }

    .creator-pic {
        height: 36px;
        width: 36px;
        border: 1px solid black;
        border-radius: 25px;
    }

    .dropdown-content {
        position: absolute;
        background-color: white;
        min-width: 160px;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        right: 25px;

        &.dropdown-content div {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: flex;
            align-items: center;
            cursor: pointer;
        }
    }

    .creator-name {
        font-family: Overpass;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        /* identical to box height, or 150% */


        /* Basics/Kite Black */

        color: #413D45;
        padding: 8px;
    }

    .task-info-head {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        padding: 10px 8px 10px 8px;

        .partition {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
        }
    }

    .task-provide {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        margin: 0px 14px;
    }

    .due-date {
        font-family: Overpass;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        padding: 8px;
        /* identical to box height, or 171% */


        /* Basics/Dark Gray */

        color: #A29FA5;
    }

    .pick-calendar {
        position: absolute;
        width: 300px;
        right: 40px;
    }

    .editable:empty:before {
        content: attr(data-placeholder);
        opacity: 0.4;
    }
}