.actions-container {
    width: 100%;
    padding: 10px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;

    font-family: Overpass;
    font-style: normal;
    font-weight: normal;

    .title {
        font-weight: 800;
        font-size: 22px;
        line-height: 34px;
    }
    .subtitle {
        font-size: 14px;
        line-height: 21px;
    }
    .section-heading {
        font-weight: 400;
        font-size: 20px;
        margin-top: 30px;
    }
    .grid {
        display: flex;
        flex-flow: column nowrap;
        width: 100%;
        overflow: auto;
        max-height: calc(min(800px, 80vh) - 150px);
        .action-item {
            display: flex;
            flex-flow: row nowrap;
            width: 100%;
            min-height: 60px;
            padding-left: 10px;
            padding-right: 10px;
            margin-top: 5px;
            justify-content: flex-start;
            align-items: center;
            cursor: pointer;
            border: 1.5px solid transparent;
            transition: 0.2s;
            &:hover {
                background: #f6f6f6;
                border: 1.5px solid #413d45;
                box-sizing: border-box;
                border-radius: 8px;
            }
            .icon {
                width: 40px;
                height: 40px;
                background: #c4c4c4;
                border-radius: 5px;
            }
            .content {
                display: flex;
                flex-flow: column nowrap;
                justify-content: flex-start;
                align-items: flex-start;
                margin-left: 10px;
                .title {
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 18px;
                }
                .description {
                    font-size: 14px;
                    color: #a29fa5;
                }
            }
        }
    }
}

.top-band {
    border: 1.5px solid #939393;
    border-radius: 8px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    transition: 0.2s;
    // margin: 0px 10px 0px 10px;
    margin-right: 10px;
    width: fit-content;
    min-height: 30px;
    min-width: 30px;
    &:hover {
        border-color: #ff7e1d;
    }

    .action-name {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        background-color: #ff7e1d;
        color: white;
        border-radius: 5px;
        padding: 5px;
        margin: 3px;
        font-family: Overpass;
        font-size: 14px;
        font-weight: 600;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        .close-action {
            cursor: pointer;
            margin-left: 10px;
        }
    }

    .actions-button-icon {
        transition: 0.2s;
        background-color: transparent;
        box-sizing: border-box;
        border-radius: 8px;
        width: 25px;
        max-height: 23px;
        object-fit: scale-down;

        &:hover {
            border-color: #ff7e1d;
        }
        &:hover path {
            fill: white;
        }
    }
}
