.arrow-path {
    border: 2px solid; 
    border-image-source: linear-gradient(118.81deg, #FF6B43 7.95%, #5FA2F1 96.14%);
}
.circleTest{
/* Vector 155 */

position: absolute;
width: 10px;
height: 10px;
left: 683px;
top: 426px;

/* kite black */
border: 1.5px solid #413D45;


}