.card-container {
    height: calc(100vh - 40px);
    background: #F3F8FF;
    // background-image: radial-gradient(circle at 1px 1px, grey 0.5px, transparent 0);
    // background-size: 10px 10px;
}

.container-filler {
    background: #F3F8FF;
    // background-image: radial-gradient(circle at 1px 1px, grey 0.5px, transparent 0);
    // background-size: 10px 10px;
}