.container-filler {
    cursor: url("../assets/cursor.svg"), default;
}

/******dashboard mid section starts here************/
.project-card.text_card {
    min-height: 45px;
    height: 66px;
    background: #ffffff;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.12);
    border-radius: 6px;
    button {
        border: none;
        background-color: transparent;
        font-size: 18px;
        &:focus {
            outline: none;
        }
    }
}
.project-card.img_card {
    background: #ffffff;
    height: auto;
    min-height: 280px;
    overflow: hidden;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.12);
    border-radius: 6px;
    min-height: 275px;
    textarea {
        resize: none !important;
        border: none;
        font-size: 14px;
        color: #919191;
        width: 95%;
        margin: 15px auto;
        min-height: 24px;
        &:focus {
            outline: none;
        }
    }
}

textarea.inline-input {
    resize: none;
    color: #919191;
    font-size: 14px;
    width: 95%;
    margin: 15px auto;
    min-height: 24px;
    &:focus {
        outline: none;
    }
}
button.custom_btn {
    background: #2e85f7;
    height: 38px;
    min-width: 100px;
    border-radius: 10px;
    color: #fff;
    margin-right: 12px;
    padding: 0 10px;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    border: none;
    &:focus {
        box-shadow: none;
        outline: none;
    }
}
a.back_btn {
    position: absolute;
    left: 0;
    padding: 10px;
    color: #333;
    font-weight: 600;
}
a {
    text-decoration: none;
    background-color: transparent;
}
// .top_btn {
//     position: absolute;
//     right: 0;
//     background: #fff;
//     height: 40px;
//     width: 100px;
//     top: -40px;
// }
//-----------------Social Links in LinkSharing.js-----------
.button_link {
    flex: 0 0 50%;
    padding: 20px 90px;
}
.button_link,
.social_link {
    button {
        margin: 0 8px 20px 0px;
        border: none;
        background: transparent;
    }
}
.social_link {
    display: inline-flex;
    flex: 0 0 30%;
    padding: 20px 0px;
    button {
        margin-bottom: 0px;
    }
}
/*******Common************/
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}

.wh-20p {
    width: 20px;
    height: 20px;
}

.btn.focus,
.btn:focus {
    box-shadow: none;
    outline: none;
}
