.dashboard-page {
    background-color: #fcfbf9;
    transition: 0.2s;
    overflow: hidden;
    font-family: Overpass;
    min-height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    .graphic-left {
        position: absolute;
        left: 0px;
        height: 100vh;
        z-index: 0;
        user-select: none;
    }
    .graphic-right {
        position: absolute;
        right: 0px;
        height: 100vh;
        z-index: 0;
        user-select: none;
    }
    .top-bar {
        margin: 30px 30px 10px 30px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        position: relative;
        z-index: 100;
        .site-title {
            display: flex;
            align-items: center;
            text-align: center;
            width: fit-content;
            cursor: pointer;
            img {
                height: 40px;
            }
        }
        .user-welcome {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            .welcome-text {
                display: flex;
                flex-flow: column nowrap;
                align-items: flex-end;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 25px;
                .user-name {
                    font-weight: 700;
                }
            }
            .profile-picture {
                position: relative;
                margin-left: 20px;
                cursor: pointer;
                img {
                    height: 60px;
                    width: 60px;
                    border-radius: 30px;
                    background-image: url("profile/default.png");
                }
            }
            .profile-picture .user-menu {
                visibility: visible;
                border: solid black 1px;
                width: 150px;
                background-color: white;
                color: #fff;
                text-align: center;
                border-radius: 6px;
                padding: 5px 0;
                position: absolute;
                z-index: 1;
                top: 105%;
                left: -49%;
                margin-left: -60px;
            }
            .profile-picture .user-menu::before {
                content: "";
                border: 1.5px solid black;
                bottom: 50%;
                background-color: white;
                box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
                position: absolute;
                top: -6px;
                left: 115px;
                transform: rotate(45deg);
                width: 10px;
                height: 10px;
            }
        }
    }
    .main-section {
        margin-left: 100px;
        margin-right: 100px;
        margin-top: 50px;
        overflow: scroll;
        position: relative;
        z-index: 50;
        // border: 2px solid black;
        max-height: 100%;
        display: flex;
        flex-flow: column nowrap;
        &.inherit-position {
            position: static !important;
        }
        .project-section {
            display: flex;
            flex-flow: column nowrap;
            max-height: 100%;
            overflow: scroll;
            .project-section-header {
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                background-color: #fcfbf985;
                .header-left-container {
                    display: flex;
                    flex-flow: row nowrap;
                    .dashboard-title {
                        display: flex;
                        align-items: center;
                        .select {
                            font-family: "Overpass";
                            font-style: normal;
                            font-weight: bold;
                            font-size: 24px;
                            line-height: 24px;
                            background-color: transparent;
                            border: 1.5px solid transparent;
                            border-radius: 6px;
                            padding: 5px;
                            &:hover {
                                border: 1.5px solid black;
                            }
                        }
                    }
                }
                .header-right-container {
                    display: flex;
                    flex-flow: row nowrap;
                }
                .addnew {
                    background-color: #32aaff;
                    border: none;
                    border-radius: 6px;
                    cursor: pointer;
                    height: 40px;
                    width: 100px;
                    font-family: Overpass;
                    font-style: normal;
                    font-size: 16px;
                    font-weight: 600;
                    color: white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding-top: 4px;
                    margin-right: 15px;
                }
            }
            .project-section-content {
                // display: flex;
                // flex-flow: column nowrap;
                overflow: auto;
                // margin-top: 7px;
                background-color: #fcfbf985;
                max-height: 100%;
                .row-headings {
                    position: sticky;
                    top: 0px;
                    background-color: #fcfbf9;
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    margin: 20px 0px 0px 0px;
                    border-top: 1px solid #413d45;
                    border-bottom: 1px solid #413d45;
                    padding: 10px 15px 10px 15px;
                    // padding: 5px 10px;
                    .rest {
                        width: 70%;
                        display: flex;
                        flex-flow: row nowrap;
                        justify-content: flex-end;
                        align-items: center;
                    }
                    .heading {
                        font-family: Overpass;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 18px;
                        // color: #413d45;
                        display: flex;
                        flex-flow: row nowrap;
                        align-items: center;
                        &.title {
                            width: 30%;
                            justify-content: flex-start;
                            padding-left: 70px;
                        }
                        &.shared {
                            width: calc(max(20%, 200px));
                            justify-content: flex-end;
                        }
                        &.date {
                            width: 150px;
                            justify-content: center;
                        }
                    }
                }
            }
        }
    }
}
