.document{
    width: 100px;
    height: 100px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    background-size: 50px 50px;
    background-image: radial-gradient(circle, rgba(0, 0, 0, 0.5) 1px, rgba(0, 0, 0, 0) 1px);
    background-color: whitesmoke;
}
.child-card {
    margin: 10px;
    width: 200px;
    height: 300px;
    border: 0px dashed black;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    font-family: monospace;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    background-size: 50px 50px;
    align-self: start;
    background-color : white;
}
.tippy-popper[x-placement^=right] .tippy-tooltip.mytheme-theme .tippy-arrow { border-right: 7px solid #ff0000; }
.tippy-popper[x-placement^=left] .tippy-tooltip.mytheme-theme .tippy-arrow { border-left: 7px solid #ff0000; }
.tippy-popper[x-placement^=top] .tippy-tooltip.mytheme-theme .tippy-arrow { border-top: 7px solid #ff0000; }
.tippy-popper[x-placement^=bottom] .tippy-tooltip.mytheme-theme .tippy-arrow { border-bottom: 7px solid #ff0000; }