#login{
    width: 100vw;
    height: 100vh;
    background-color: rgba(230, 227, 227, 0.925);
    margin: 0;
}
#title{
    color: deeppink;
    font-family: 'Courier New', Courier, monospace;

}
.landing-subtitle {
    padding-bottom: 15px;
    font-family: 'Lora', serif;
    font-size: 23px;
}

.landing-text {
    padding-left: 7vw;
    padding-right: 7vw;
    text-align: justify;
    font-family: 'Lora', serif;
    font-size: 16px;
    display: inline-block;

}
#sign{
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 20px;

}