#login {
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background-color: #fcfbf9;
    font-family: Overpass;
    .container {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        .login {
            margin-top: 50px;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            padding: 5px;
            padding-top: 15px;
            border: 1.5px solid #32AAFF;
            border-radius: 6px;
        }
    }
    .graphic-right {
        position: absolute;
        right: 0;
        max-height: 100vh;
        object-fit: cover;
    }
    .graphic-left {
        position: absolute;
        left: 0;
        max-height: 100vh;
        object-fit: cover;
    }
}
