.menu-bar {
    display: flex;
    flex-flow: row nowrap;
    z-index: 10000000;
    // background-color: #ffc700;
    // background-color: #0fa958;
    // background-color: #5551ff;
    background-color: white;
    align-items: center;
    justify-content: center;
    padding: 3px 7px 3px 7px;
    margin: 0;
    width: 100vw;
    height: 60px;
    border-bottom: 2px solid black;
    border-radius: 0px;
    position: relative;
    font-family: "Open Sans", "Varela Round", sans-serif;
}

.menu-bar-project-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 12px 6px 12px;
    position: relative;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius:10px;
    height: 40px;
    user-select: none;
    font-size: 24px;
    font-family: "Open Sans", monospace;
    font-weight: 800;
    color: white;
    background-color: #5fa2f1;
    text-decoration: none;
    line-height: 24px;
}

.menu-bar-panel {
    width: 33.3%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.menu-bar-panel-left {
    justify-content: flex-start;
    .site-title {
        margin-left: 10px;
        a {
            font-family: "B612 Mono", monospace;
            font-style: normal;
            font-weight: normal;
            font-size: 28px;
            line-height: 27px;
            color: #ff6b43;
            text-decoration: none;
            &:hover {
                text-decoration: none;
            }
        }
    }
}

.menu-bar-panel-center {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    height: 81px;
    position: relative;
    top: 11px;
    .menu-center-vertical-filler {
        height: 18px;
    }
    .inline-text {
        &::before {
            content: "🔍";
        }
    }
}

.menu-bar-panel-right {
    justify-content: flex-end;
}

.menu-action-button {
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    /* gt orange */
    color: #ff6b43;
    border: 2px solid #ff6b43;
    background-color: white;
    box-sizing: border-box;
    border-radius: 10px;
    height: 30px;
    margin: 0px 10px 0px 0px;

    &:hover {
        /* gt orange */
        border: 2px solid #ff6b43;
        background: #ff6b43;
        color: white;
        box-sizing: border-box;
        border-radius: 10px;
    }
    &:focus {
        outline: none;
    }
    &:active {
        outline: none;
    }
}

.menu-bar-user-profile-picture {
    height: 50px;
    width: 50px;
    border: 2px solid black;
    border-radius: 25px;
}

.menu-bar-logo {
    height: 28px;
}
