.menu-bar {
    display: flex;
    flex-flow: row nowrap;
    z-index: 10000;
    // background-color: #ffc700;
    background-color: #0fa958;
    // background-color: #5551ff;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-bottom: 2px solid black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, "Varela Round", sans-serif;
    font-weight: 400;
}

.menu-bar-site-title {
    a {
        user-select: none;
        font-size: 24px;
        font-family: "B612 Mono", monospace;
        color: antiquewhite;
        text-decoration: none;
        &:hover {
            color: green;
            text-decoration: none;
        }
    }
}

.menu-bar-panel {
    width: 33.3%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.menu-bar-panel-left {
    justify-content: flex-start;
}

.menu-bar-panel-center {
    justify-content: center;
}

.menu-bar-panel-right {
    justify-content: flex-end;
}

.menu-action-button {
    font-size: 14px;
    color: black;
    background-color: antiquewhite;
    border: 2px solid black;
    border-radius: 6px;
    height: 30px;
    margin: 0px 10px 0px 0px;
    &:hover {
        border-color: rgba(151, 5, 5, 0.767);
    }
    &.highlight {
        background-color: #ff8577;
    }
}

.menu-bar-user-profile-picture {
    height: 40px;
    width: 40px;
    // border: 2px solid grey;
    border-radius: 20px;
    margin-right: 10px;
}
