.persona-list {
    display: flex;
    flex-flow: row nowrap;
}
.persona-item{
    margin-right: 5px;
    margin-left: 5px;
    img {
        height: 28px;
        width: 28px;
        border-radius: 20px;
    }
}