.settings-page {
    background-color: #fcfbf9;
    transition: 0.2s;
    overflow: scroll;
    font-family: Overpass;
    min-height: 100vh;
    min-width: 100%;
    // padding: 50px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    .top-bar {
        margin: 30px 30px 10px 30px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        .site-title {
            display: flex;
            align-items: center;
            text-align: center;
            width: fit-content;
            cursor: pointer;
            img {
                height: 40px;
            }
        }
        .user-welcome {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            .welcome-text {
                display: flex;
                flex-flow: column nowrap;
                align-items: flex-end;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 25px;
                .user-name {
                    font-weight: 700;
                }
            }
            .profile-picture {
                position: relative;
                margin-left: 20px;
                height: 60px;
                width: 60px;
                border-radius: 30px;
                img {
                    height: 60px;
                    width: 60px;
                    border-radius: 30px;
                    background-image: url("profile/default.png");
                }
                .pfp-loader {
                    position: absolute;
                    height: 60px;
                    width: 60px;
                    border-radius: 30px;
                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: center;
                    align-items: center;
                    background: rgba(255, 255, 255, 0.75);
                    color: #413d45;
                    z-index: 99999999999;

                    .loader-text {
                        padding: 5px 5px 5px 5px;
                        //background: white;
                        //border: 2px solid #413D45;
                    }
                }
            }
            .profile-picture .user-menu {
                visibility: visible;
                border: solid #413d45 1px;
                width: 150px;
                background-color: white;
                color: #fff;
                text-align: center;
                border-radius: 6px;
                padding: 5px 0;
                position: absolute;
                z-index: 1;
                top: 105%;
                left: -49%;
                margin-left: -60px;
            }
            .profile-picture .user-menu::before {
                content: "";
                border: 1.5px solid #413d45;
                bottom: 50%;
                background-color: white;
                box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
                position: absolute;
                top: -6px;
                left: 115px;
                transform: rotate(45deg);
                width: 10px;
                height: 10px;
            }
        }
    }
    .main-section {
        display: flex;
        align-items: center;
        overflow: auto;
        flex-flow: column nowrap;
        justify-content: center;
        // border: 2px solid #413D45;
        width: calc(min(65%, 600px));
        align-self: center;
        .profile-picture {
            position: relative;
            .picture-wrapper {
                height: 100px;
                width: 100px;
                border-radius: 75px;
                overflow: hidden;
                .upload-button {
                    display: none;
                }
                &:hover {
                    .upload-button {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: #413d45b2;
                        color: white;
                        position: absolute;
                        top: 0px;
                        height: 100px;
                        width: 100px;
                        border-radius: 75px;
                    }
                }
                img {
                    width: 100px;
                    height: 100px;
                    background-image: url("profile/default.png");
                }
            }
        }
        .name-heading {
            position: relative;
            margin-top: 10px;
            .name {
                font-family: Overpass;
                font-style: normal;
                font-weight: bold;
                font-size: 28px;
            }
        }
        .profile-section {
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-between;
            width: 100%;
            margin-top: 10px;
            color: #413d45;
            .profile-sub-section {
                display: flex;
                flex-flow: column nowrap;
                // align-items: center;
                width: 100%;
                padding: 10px 0px;
                .heading {
                    font-family: Overpass;
                    font-style: normal;
                    font-size: 18px;
                    font-weight: 600;
                    color: #32aaff;
                    padding-left: 30px;
                    padding-right: 30px;
                }
                hr {
                    width: 100%;
                    margin: 7px 0px 15px 0px;
                    border: 1px solid #dfdcdc;
                }
                .subcontent {
                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: left;
                    font-size: 14px;
                    .field {
                        display: flex;
                        flex-flow: row nowrap;
                        padding: 5px 30px 5px 30px;
                        align-items: center;
                        .field-name {
                            color: #413d45;
                            min-width: 100px;
                        }
                        .field-content {
                            color: #a29fa5;
                            img {
                                height: 25px;
                                object-fit: contain;
                            }
                        }
                    }
                }
            }
        }
    }
}
