.sharelink {
    font-family: Overpass;
    font-style: normal;
    color: #413d45;
    .share-type-icon {
        height: 30px;
        margin-right: 5px;
    }
    .container {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 10px 10px 10px 10px;
        padding: 0;
        .button {
            width: 91px;
            height: 38px;
            border-radius: 5px;
            border: none;
            margin-left: 5px;
        }
        .heading {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: flex-start;
            font-size: 22px;
            .share {
                font-weight: 800;
                margin-right: 8px;
            }
            .project-title {
                display: inline-block;
                font-weight: normal;
                color: #32aaff;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                // width: fit-content;
                width: 450px;
            }
        }
        .edit-warning {
            font-size: 14px;
        }
        .section {
            display: flex;
            flex-flow: column nowrap;
            margin: 15px 0px;
            width: 100%;
            .title {
                font-weight: 600;
                font-size: 18px;
            }
            .link-content {
                .button {
                    background-color: #32aaff;
                    color: white;
                }
            }
            .email-content {
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                justify-content: flex-start;
                width: 100%;
                margin-top: 5px;
                .button {
                    background-color: #32aaff;
                    color: white;
                    opacity: 0.8;
                    transition: 0.2s;
                    &:hover {
                        opacity: 1;
                    }
                }
                .rs-container {
                    width: 100%;
                    font-family: Overpass;
                    font-size: 12px;
                }
            }
        }
        .users-list {
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-start;
            align-items: flex-start;
            .users-list-item {
                margin-bottom: 2px;
                transition: 0.2s;
                font-size: 16px;
                border: 1.5px solid transparent;
                display: flex;
                flex-flow: row nowrap;
                justify-content: flex-start;
                align-items: center;
                width: 100%;
                padding: 5px;
                border-radius: 8px;
                &:hover {
                    background-color: #f6f6f6;
                    border: 1.5px solid #413d45;
                }
                img {
                    max-width: 45px;
                    object-fit: scale-down;
                    border-radius: 30px;
                    margin-right: 10px;
                }
            }
        }
    }
}
