.user-menu-container {
  img {
    cursor: default !important;
  }
  cursor: default;
  .colorblack {
    color: #413d45;
  }
  .colororange {
    color: #ff7e1d;
  }
  .separator {
    border: 0.5px solid rgb(197, 191, 191);
    margin: 8px 2px 8px 2px;
  }
  .photo {
    display: flex;
    justify-content: space-around;
    .profimage {
      border-radius: 50%;
      margin: 8px 2px 8px 2px;
      height: 95px;
      width: 95px;
    }
  }
  .info {
    display: flex;
    justify-content: space-around;
    img.ea-logo {
      border: none !important;
      height: 22px !important;
      width: auto !important;
      border-radius: 0px !important;
    }
  }
  .options {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 5px;
    .option {
      padding: 5px;
      width: 100%;
      color: black;
      border-radius: 6px;
      &.danger {
        color: #ff7e1d;
      }
      &:hover {
        background-color: #32aaff;
        color: white;
        &.danger {
          background-color: #ff7e1d;
          color: white;
        }
      }
    }
  }
}
