.joined-call {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.join-leave-call {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    img {
        height: 30px;
        // width: 30px;
        object-fit: scale-down;
    }
}

.mute-unmute {
    cursor: pointer;
}

.call-ui-collapsed {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    img {
        object-fit: scale-down;
        max-height: 30px;
    }
}

.voice-container {
    width: 100%;
    padding: 10px;

    display: flex;
    flex-flow: column nowrap;

    justify-content: flex-start;
    align-items: flex-start;

    font-family: Overpass;
    font-style: normal;
    font-weight: normal;
    min-height: 400px;

    .title {
        font-weight: 800;
        font-size: 22px;
        line-height: 34px;
    }
    .subtitle {
        font-size: 14px;
        line-height: 21px;
    }
    .section-heading {
        font-weight: 400;
        font-size: 20px;
        margin-top: 30px;
    }

    .users-list {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        .users-list-item {
            margin-bottom: 2px;
            transition: 0.2s;
            font-size: 16px;
            border: 1.5px solid transparent;
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
            padding: 5px;
            border-radius: 8px;
            &:hover {
                background-color: #f6f6f6;
                border: 1.5px solid #413d45;
            }
            .user-profile {
                max-width: 45px;
                object-fit: scale-down;
                border-radius: 30px;
                margin-right: 10px;
                border: 2px solid transparent;
                &.speaking {
                    border: 2px solid #48BB35;
                }
            }
            .speaking-placeholder {
                min-width: 30px;
                img {
                    width: 23px;
                    margin-right: 5px;
                }
            }
        }
    }
}
