.loader-container{
  background-color: white;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  .loader-animation {
  }
  .loader-text {
    font-family: "Overpass", sans-serif;
    font-size: 26px;
    font-weight: 600;
  }
}
